
body {
    background-color:#eee; 
    
}

table, th {
    text-align: left;
}

.panel-top {
    margin: 20px 0 10px 0;
}
.panel-center {
    margin: 20px 0 10px 0;
    display:inline
}
.panel-bottom {
    margin: 20px 0 10px 0;
}
.weather-list {
    margin: 20px 0 0 0;
}

.box-temp {
    font-size: 1.5em;
    
}

.search-input {
    border-radius: 50,

}
.error {
    color:red;
}

th {
    text-align: center
}

form .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
form .form-control:-ms-input-placeholder {
  color: #fff;
}
form .form-control::-webkit-input-placeholder {
  color: #fff;
}