
body {
    background-color:#333333; 
    color: #ffffff;
}

table, th {
    text-align: left;
}

.panel-top {
    margin: 20px 0 10px 0;
}
.panel-center {
    margin: 20px 0 10px 0;
    display:inline
}
.panel-bottom {
    margin: 20px 0 10px 0;
}
.weather-list {
    margin: 20px 0 0 0;
}

.box-temp {
    font-size: 1.5em;
    
}
.error {
    color:red;
}

