
body {
    background-color:#eee; 
    font-size: 200%;
}

table {
   border: 2px solid #d89864;
   margin: 10px 0 20px 0;
}

.box {
    padding: 20px 0 30px 5px;
    border: 2px solid #d89864;
    margin-top: 20px;
    border-radius: 5px;
}

.panel-top {
    margin: 20px 0 10px 0;
}
.panel-center {
    margin: 20px 0 10px 0;
    display:inline
}
.panel-bottom {
    margin: 20px 0 10px 0;
}
.weather-list {
    margin: 20px 0 0 0;
}

.box-temp {
    font-size: 1.5em;
    
}

.search-input {
    border-radius: 50,

}
.error {
    color:red;
}

th, td {
    text-align: center;
    padding: 10px;
    border: none;
}


form .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
form .form-control:-ms-input-placeholder {
  color: #fff;
}
form .form-control::-webkit-input-placeholder {
  color: #fff;
}